<div>
  <%= @game.player1.name %> has attacked <%= @game.player2.name %>!

  <b> </b>

  <a href="/play">Back to battle!</a>

  <form action='/play'>
    <input type="submit" value="switch attack!">
  </form>

</div>
